<!DOCTYPE html>
<html data-theme="{{profile.prof_theme}}">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MurMur</title>
        {% load static %}
        <link href="{% static 'css/output.css' %}" rel="stylesheet" type="text/css" />
    </head>

    <body class="bg-base-200 min-h-screen">
        {% include 'components/navbar.html' %}

        <div class="grid grid-cols-12 gap-4 p-4">

            <aside class="col-span-3 bg-base-100 rounded-lg shadow hidden lg:block p-4 select-none">
                <p class="text-sm text-gray-500">[Sidebar placeholder]</p>
            </aside>

            <div class="col-span-12 lg:col-span-6 space-y-4">
                <div class="card bg-base-100 shadow-xl">
                    <div class="card-body p-4">
                        <div class="flex items-center gap-4">
                            <div class="avatar w-24 h-24">
                                {% if profile.profile_picture %}
                                    <img src="{{ profile.profile_picture.url }}" alt="Avatar" class="rounded-full w-full h-full object-cover" />
                                {% else %}
                                    <span class="material-symbols-outlined text-7xl">account_circle</span>
                                {% endif %}
                            </div>
                            <div class="flex flex-col gap-1">
                                <h1 class="text-xl"> {{profile.user.username}} </h1>
                                <p class="text-md">{{ profile.bio|default:"No hay biografía disponible." }}</p>
                            </div>
                        </div>
                        {% if profile.user == request.user %}
                        <div class="card-actions justify-end accent" >
                            
                            <a href="{% url 'profile_edit' %}" class="btn btn-primary mt-4">Editar perfil</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% include 'components/post_loop.html' with posts=posts %}
            </div>
            
        </div>
    </body>
</html>




