<html data-theme= {% if request.user.is_authenticated %} "{{user.profile.prof_theme}}" {% else %} "light" {% endif %} >
<head>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-8934338334524686">

    <title>MurMur</title>
    {% load static %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet" type="text/css" />
</head>
<body class="bg-base-200 ">


    {% include 'components/navbar.html' with page="Inicio" %}


    <!-- Main Layout -->
    <div class="grid grid-cols-12 gap-1 p-4 sm:gap-6 lg:gap-4 mx-auto">
        
        <!-- Sidebar placeholder -->
        <aside class="col-span-3 bg-base-100 rounded-lg shadow hidden lg:block p-4 select-none">
            <p class="text-sm text-gray-500">[Sidebar placeholder]</p>
        </aside>

        <!-- Main Content -->
        <main class="col-span-12 lg:col-span-6 space-y-4">

            <!-- Formulario para publicar -->
             {% include 'components/newPostForm.html' %}
            

            <!-- Feed de posts -->
            {% include 'components/post_loop.html' with posts=posts %}
        </main>

        <!-- Extra sidebar (opcional) -->
        <aside class="col-span-3 hidden lg:block select-none"></aside>
    </div>

    <!-- Floating button (opcional si ya no usas modal/new page) -->
    <button onclick="openNewModal()"
       class="btn btn-primary rounded-full w-16 h-16 fixed bottom-6 right-6 shadow-lg z-50 flex items-center justify-center"
        
       >
        <span class="material-symbols-Outlined primary-content"> add </span>
    </button>

<dialog id="new-post" class="modal">
    <div class="modal-box bg-base-200">
        <div id="report-container">
             {% include 'components/newPostForm.html' %}
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>

<script>
    function openNewModal() {
        const modal = document.getElementById('new-post');
        modal.showModal();
        }
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8934338334524686"
     crossorigin="anonymous"></script>
</body>
</html>
